ac.jolgorio.app {
    reverse_proxy localhost:8080
    encode gzip

    header {
        # Sensible defaults for a public API
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer-when-downgrade"
    }
}
